html {
  scroll-behavior: smooth;
}

.background{
  background-color: whitesmoke;
}

.mainContentLink{
  color: rgb(124,165,83);
  text-decoration: underline;
}

.maintitle{
  margin-top:100px;
  color: darkolivegreen;
}

h1{
  font-size: 70px;
}

.headline{
  margin-top: 25%;
}

.headline-xs{
  color: whitesmoke;
  margin-top: -80%;
  opacity: 0.7;
  background-color: darkolivegreen;
}

.title{
  padding-left: 10px;
}

.main{
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(228, 236, 233, 0.76);
}

.ytho{
  margin-top: 20px
}

.main:after{
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(228, 236, 233, 0.76);
  background-image:url('../Assets/megreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(124,165,83);
  opacity: 0.8;
}

.mainsr{
  /* position: relative; */
}

.mainsr:after{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.layer{
  position:relative;
  z-index: 1;
}


.layer:before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(124,165,83); */
  opacity: 0.4
}

a{
  color: rgb(235, 239, 246);
  text-decoration: none;
}

a:hover{
  text-decoration:none;
}

.breakpoint{
  height: 10%;
  background-color: transparent;
}
a.thumbnail:hover{
      text-decoration: none;
      font-weight: bold;
      color: white;
      background-size: 200px 200px;
}

.carousel-control{
  background-image:none !important;
  max-height: 10%;
  padding-top: 50%
}

#videoCarousel{
  max-width: 1024px;
}

.backToTop{
  font-size: small;
}

.backToTop a{
  color: darkolivegreen;
}

.backToTop a:hover{
 color: #337ab7;
}

.space{
  height: 22%;
}

.insta{
  height: 35% !important;
  margin-left:-2%;
}
