.page-header{
  margin:0;
  border-bottom: 0;
  max-height: 70px;
}

.myLogo{
  display:inline-block;
}

.logo{
 top: 0;
 left: 10%;
 margin-left: 20px;
 width: 20vw;
 min-width:250px;
}

.logoBlack{
 top: 0;
 left: 10%;
 width: 80%;
}

.equals{
  height: 100px;
  position:relative ;
  left: 12%;
  opacity: 0.2;
}

.navbar-default{
  color: rgba(228, 236, 233, 0.76);
  border-style: none;
}
.navbar-default:before{
  content: "";
  position: absolute;
  display: block;
  padding-top: 10px;
  width: 100%;
    background-size: cover;
    border-style: none;
    height:100%;
 */
}

.navbar-fixed-top.scrolled {
  background-color: #45443e;
  background-image: url(../Assets/megreenbackgroundonly.jpg);
  background-size:cover;
  transition: background-color 2000ms linear;
}

#navbar-override{
  ;
  background-color: transparent
}

#logo{
  float: left;
  overflow: hidden;
  max-height: inherit;
}

#logo:hover{
    opacity: 0.8;
    background-repeat: none;
    color: transparent;
    cursor: default;
}

.nav-pills>li{
 padding-left: 5px;
}

 .nav-pills>li>a{
  border:solid;
  border-color: transparent;
}

.navbar-toggle{
  float:none;
}

.nav-pills>li>a:hover{
  padding:-5px;
  border-color: rgb(213, 224, 228);
  background-color: rgb(213, 224, 228);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover
.nav-pills>li.active>a:focus  {
  background-color: rgb(213, 224, 228) !important;
  color: rgb(32,28,29) !important;
  cursor: default;
  border-color: rgb(16, 21, 33);
}

.navigation{
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 32px;
}

.navigation >li{
  padding-bottom: 10px;
}

.socials{
  float:right;
  margin-right: 2%;
  margin-top:20px;
}


.socialicon{
  width:4vw;
  min-width:30px;
  max-width:40px;
  margin: 5px;
}
.toggler{
  border: none;
  background-color: transparent;
}
